doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/jquery-ui.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 Dear MDOCSSDiary
      small  (Massively Distributed Online Crowdsourced Social Sentiment Diary)
    block content
