block vars
doctype html
html
  head
    - var title = childTitle ? childTitle + " | MDOCSSDiary" : "MDOCSSDiary"
    title #{title}
    link(rel='stylesheet', href='/app.css')
  body
    h1(data-intro="Hello and welcome to MDOCSSDiary!" data-step="1")
      a(href='/') Dear MDOCSSDiary
      small  (Massively Distributed Online Crowdsourced Social Sentiment Diary)
    block content
