extends layout
block vars
  - var childTitle = "Login"
block content
  div
    div.row
      form(class="spannedForm", action='/login', method='POST')
        div.panel.panel-default
          .panel-heading Login
          .panel-body
            input(type='text', name='username' class='form-control', placeholder='Email',required, autofocus)
            input(type='password', name='password' class='form-control', placeholder='Password', required)
            button(class='btn btn-md btn-primary btn-block', type='submit') Login
              span.clearfix
        #message
        - if(message.length > 0){
          .alert.alert-dismissible.alert-success
            button(type="button" class="close" data-dismiss="alert")
            strong #{message}
        - }
