extends layout
block vars
	- var childTitle = "Register"
block content
	div
		div.row
			form(class="spannedForm", action='/signup', method='POST')
				div.panel.panel-default
					.panel-heading Create an account
					.panel-body
						input(type='text', name='username', class='form-control', placeholder='Username',required, autofocus)
						input(type='password', name='password', class='form-control nomargin', placeholder='Password', required)
						input(type='email', name='email', class='form-control', placeholder='Email',required)
						input(type='text', name='firstName', class='form-control', placeholder='First Name',required)
						input(type='text', name='lastName', class='form-control', placeholder='Last Name',required)
						button(class='btn btn-md btn-primary btn-block', type='submit') Create an account
							span.clearfix
				#message
				- if(message.length > 0){
					.alert.alert-dismissible.alert-success
						button(type="button" class="close" data-dismiss="alert")
						strong #{message}
				- }
