@import url(https://fonts.googleapis.com/css?family=Roboto:400|Roboto+Condensed:700);
@import url(https://cdn.jsdelivr.net/intro.js/2.0.0/introjs.min.css);

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Roboto Condensed","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    line-height: 1.1;
    color: inherit;
}

body {
  padding: 50px;
  font: 14px "Roboto", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7AF;
}

.spannedForm .form-control {
  margin: 8px;
}

.introjs-tooltiptext{
  color: black;
}

.introjs-helperNumberLayer{
    line-height: 17px;
    padding: 0px;
}

#messages {
  max-height: 15em;
  overflow-x: hidden;
  overflow-y: scroll;
}
.marker {
    background-color: #3498db;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    text-align: left;
    border-radius: 0px 5px 5px 5px;
    border: 1px solid lightgray;
}

.nav-tabs li.active a {
  background-color: #303030;
}

.nav-tabs {
    border-bottom: none; */
}

h1 a {
  color: white;
}

h1 a:hover {
  text-decoration: none;
  color: white;
}


svg {
  fill: white;
}

.popover{
    width:200px;
    text-align: center;
}

.panel-body {
    padding: 5px;
}

.marker .label {
    display: inline-block;
    font-size: 1.1em;
    margin-top: 2px;
    border-radius: 0px;
    background-color: transparent;
}

.tag .btn:last-child {
    border-radius: 0px 10px 5px 0px;
}
.tag .btn:first-child {
    border-radius: 5px 0 0 5px;
}
.tag .btn {
    border-radius: 0;
}

.map-container {
  height:500px;
}

.panel-heading {
  transition: background-color 1000ms linear;
}

.horizontal-slider {
    width: 100%;
    height: 50px;
    border: 1px solid grey;
}
.vertical-slider {
    height: 380px;
    width: 50px;
    border: 1px solid grey;
}
.handle {
    font-size: 0.9em;
    text-align: center;
    background-color: black;
    color: white;
    cursor: pointer;
}
.handle.active {
    background-color: grey;
}
.bar {
    position: relative;
    background: #ddd;
}
.bar.bar-1 {
    background: rgb(0,188,140);
}
.bar.bar-2 {
    background: #ddd;
}
.horizontal-slider .bar {
    top: 20px;
    height: 10px;
}
.horizontal-slider .handle {
    top: 1px;
    width: 50px;
    height: 48px;
    line-height: 48px;
}
.vertical-slider .handle {
    left: 1px;
    width: 48px;
    line-height: 50px;
}
.vertical-slider .bar {
    left: 20px;
    width: 10px;
}

#horizontal-0,
#horizontal-1,
#horizontal-2,
#horizontal-3,
#vertical {
    margin: 20px 10px;
}

#horizontal-2 .bar.bar-2 {
    background: #ddd;
}
