@import url(https://fonts.googleapis.com/css?family=Roboto:400|Roboto+Condensed:700);

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Roboto Condensed","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    line-height: 1.1;
    color: inherit;
}

body {
  padding: 50px;
  font: 14px "Roboto", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.maps-app {
  height: 500px;
}

.marker {
  width:100px;
}

.panel-heading {
  transition: background-color 1000ms linear;
}

.horizontal-slider {
    width: 100%;
    height: 50px;
    border: 1px solid grey;
}
.vertical-slider {
    height: 380px;
    width: 50px;
    border: 1px solid grey;
}
.handle {
    font-size: 0.9em;
    text-align: center;
    background-color: black;
    color: white;
    cursor: pointer;
}
.handle.active {
    background-color: grey;
}
.bar {
    position: relative;
    background: #ddd;
}
.bar.bar-1 {
    background: rgb(0,188,140);
}
.bar.bar-2 {
    background: #ddd;
}
.horizontal-slider .bar {
    top: 20px;
    height: 10px;
}
.horizontal-slider .handle {
    top: 1px;
    width: 50px;
    height: 48px;
    line-height: 48px;
}
.vertical-slider .handle {
    left: 1px;
    width: 48px;
    line-height: 50px;
}
.vertical-slider .bar {
    left: 20px;
    width: 10px;
}

#horizontal-0,
#horizontal-1,
#horizontal-2,
#horizontal-3,
#vertical {
    margin: 20px 10px;
}

#horizontal-2 .bar.bar-2 {
    background: #ddd;
}
